        p {
            font-family: Polaris, sans-serif;
            font-size: 15px;
        }
        
        body {
            font-family: Polaris, sans-serif;
            color: #222222;
        }
        
        .btn {
            width: 250px;
            height: 45px;
            font-size: 15px;
            padding-top: 10px;
        }
        
        #welcome-sell {
            text-align: center;
        }
        
        .ff-header {
            overflow: hidden;
            background-color: white;
            padding: 10px;
            position: relative;
            width: 92%;
            margin: 0 auto;
            min-height: 50px;
        }
        
        .ff-header .ff-logo {
            width: 360px;
        }
        .ff-header .home-small .ff-logo {
            width: 200px;
        }

        .ff-header p {
            font-family: Polaris-Bold, sans-serif;
            font-size: 23px;
            margin: -5px auto 0;
            text-align: center;
        }
        
        .ff-header-help {
            font-family: Polaris, sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            list-style: none;
            display: inline-block;
            position: absolute;
            top: 0px;
            right: -13px;
            padding: 13px;
            margin: 0px;
        }
        
        .ff-header-help a {
            color: inherit;
        }
        
        .ff-header-help a:hover,
        .ff-header-help a:active,
        .ff-header-help a:focus {
            text-decoration: none;
            outline: none;
        }
        
        .ff-header-help>li {
            float: left;
            padding-left: 20px;
        }
        
        .ff-header-help>li:first-child {
            font-family: Polaris-Condensed-Bold;
            letter-spacing: 0.2em;
            font-size: 13px;
            margin-top: 1px;
        }
        
        .ff-section {
            margin-bottom: 48px;
        }
        
        .ff-section-top {
            margin-top: 48px;
        }
        
        .ff-title {
            margin-bottom: 24px;
        }
        
        .btn.ff-cta {
            font-family: Polaris;
            font-size: 15px;
            height: 45px;
            min-width: 250px;
            padding: 10px 36px;
        }
        
        .how-box {
            height: 1.5em;
            line-height: 1.5em;
            font-size: 3.3em;
        }
        
        .how-circle {
            font-size: 1.5em;
        }
        
        .how-steps {
            font-family: Polaris;
            font-size: 23px;
        }
        
        .whats-section .container {
            width: 92%;
            max-width: 1440px;
            padding: 0px;
        }
        
        .card,
        .card .img-thumbnail {
            border-radius: 0px;
        }
        
        .card-container {
            border: 0 none;
        }
        
        .card {
            margin-bottom: 12px;
        }
        
        .card-text {
            font-size: 13px;
        }
        
        .footer.ff-footer {
            text-align: center;
            overflow: hidden;
            background-color: black;
            padding: 25px 20px;
            height: auto !important;
        }
        
        .footer.ff-footer p {
            color: #9e9e9e;
            padding-top: 16px;
            font-size: 13px;
            font-family: Polaris, sans-serif;
            letter-spacing: 1px;
        }
        
        .footer.ff-footer span a {
            color: #fff;
            letter-spacing: 1px;
        }
        
        .footer.ff-footer span a:hover {
            text-decoration: none;
        }
        
        div.heromask {
            background-position: center 45% !important;
            background-size: 100% !important;
            background-repeat: no-repeat;
        }
        
        .form-horizontal {
            margin-top: -180px;
            font-size: 15px;
            background-color: #F9F9F9;
        }
        
        .form-horizontal .form-control {
            font-size: 15px;
            background-color: #FFFFFF;
            color: #222222;
        }
        
        .form-horizontal .form-control .btn {
            font-size: 15px;
            background-color: #FFFFFF;
        }
        
        .bootstrap-select>.dropdown-toggle.bs-placeholder,
        .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
        .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
        .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
            color: #222222;
        }
        /* Customize the label (the container) */
        
        #ff-div-checkbox .cb-label {
            position: relative;
            padding-left: 37px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-bottom: 10px;
        }
        /* Hide the browser's default checkbox */
        
        #ff-div-checkbox .cb-label input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        /* Create a custom checkbox */
        
        #ff-div-checkbox .cb-span {
            position: absolute;
            top: 0;
            left: 0;
            height: 27px;
            width: 27px;
            background-color: #FFFFFF;
            border: 1px solid #979797;
            margin-top: 2px;
        }
        /* On mouse-over, add a grey background color */
        
        #ff-div-checkbox .cb-label:hover input~.cb-span {
            background-color: #FFFFFF;
        }
        /* When the checkbox is checked, add a blue background */
        
        #ff-div-checkbox .cb-label input:checked~.cb-span {
            background-color: #FFFFFF;
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        
        #ff-div-checkbox .cb-span:after {
            content: "";
            position: absolute;
            display: none;
        }
        /* Show the checkmark when checked */
        
        #ff-div-checkbox .cb-label input:checked~.cb-span:after {
            display: block;
        }
        /* Style the checkmark/indicator */
        
        #ff-div-checkbox .cb-label .cb-span:after {
            left: 9px;
            top: 3px;
            width: 8px;
            height: 16px;
            border: solid #222222;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        .form-horizontal .col-lg-12 {
            padding-left: 60px;
            padding-right: 60px;
        }
        
        #photoGuidelineWrapper {
            /* display: none;
            padding-top: 24px;  */
            padding-left: 60px;
            padding-right: 60px;
        }
        
        #photoGuidelineWrapper .col-sm-4 {
            margin-bottom: 24px;
        }
        
        .heromask {
            background-position: center top !important;
            background-size: 100% !important;
        }
        /* .heromask .banner-text {
        line-height: 110px !important;
    }
   */
        
        .steps {
            width: 100% !important;
        }
        
        .background-index {
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            background-color: transparent !important;
        }
        
        div.uploadFileWrapper {
            display: inline-block;
            position: relative;
            padding: 2px;
            cursor: pointer;
        }
        
        div.uploadFileWrapper img:nth-child(2) {
            height: 30px;
            width: 30px;
            opacity: 0.5;
            position: absolute;
            top: 3%;
            left: 3%;
        }
        
        .home {
            color: #222222;
        }
        
        .home:hover {
            text-decoration: none;
            color: #222222;
        }
        
        .positively {
            width: 250px;
        }
        
        .brands {
            left: auto !important;
        }
        
        .brands-container {
            padding-left: 65px;
        }
        
        #step-one,
        #step-two,
        #step-three {
            margin-top: 60px;
        }
        
        #img-div {
            width: 100% !important;
            background-color: transparent !important;
        }
        
        #missing {
            margin-top: 120px;
        }
        
        .newstuff {
            margin-top: 10px;
        }
        
        .shot11004open {
            left: 0px;
            width: 100%;
        }
        
        .form-horizontal .instruction {
            width: 100% !important;
            margin-top: 60px;
        }
        
        #clickHere {
            font-family: Polaris-Bold, sans-serif;
        }
        /*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
        
        @media (min-width: 1281px) {}
        /*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
        
        @media (min-width: 1024px) and (max-width: 1280px) {
            .brands {
                left: auto !important;
                padding-left: 10% !important;
            }
        }
        /*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
        
        @media (min-width: 768px) and (max-width: 1023px) {
            .form-horizontal {
                width: auto;
            }
            .newstuff {
                margin-top: 0px;
            }
        }
        /*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
        
        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
            .ff-header-help {
                right: -10px;
            }
            .newstuff {
                margin-top: 0px !important;
            }
            .shot11004open {
                left: -60px !important;
            }
        }
        
        @media (min-width: 481px) and (max-width: 767px) {
            .container {
                padding-left: 30px;
                padding-right: 30px;
            }
            .btn {
                width: 250px !important;
                height: 45px;
                font-size: 15px;
                padding-top: 10px;
            }
            div.heromask {
                background-size: cover !important;
                width: 100% !important;
            }
            div.banner-text>span {
                font-size: 1.60em !important;
            }
            .form-horizontal {
                width: auto;
            }
            .heromask>.banner-text {
                font-size: 2.5em;
            }
            .tradein {
                font-size: 2.5em;
            }
            .whatsin {
                margin-left: auto !important;
            }
            .welcome {
                font-size: 32px !important;
            }
            .brands {
                left: auto !important;
                padding-left: 10% !important;
            }
            .tysuccess {
                margin-top: 10px !important;
            }
            #welcome-sell {
                margin-top: 60px !important;
            }
            #img-div {
                position: relative;
                width: 100vw !important;
                left: -80px;
            }
            #missing {
                margin-top: 30px;
            }
            .newstuff {
                margin-top: 60px;
            }
            .shot11004open {
                left: 8vw;
            }
        }
        /*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
        
        @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
            #img-div {
                left: -90px !important;
            }
        }
        
        @media (min-width: 320px) and (max-width: 767px) {
            .ff-header {
                width: 90%;
            }
            .ff-header p {
                text-align: left;
                font-size: 20px;
            }

            .ff-header-help {
                right: 0px;
                padding-left: 7px;
                padding-right: 7px;
                height: 100%;
            }
            .ff-header-help>li {
                padding-left: 0px;
            }
            .container {
                padding-left: 30px;
                padding-right: 30px;
            }
            div.heromask {
                background-size: cover !important;
                width: 100% !important;
            }
            .btn {
                /* width: 250px !important; */
                height: 45px;
                font-size: 15px;
                padding-top: 10px;
            }
            div.banner-text>span {
                font-size: 1.60em !important;
            }
            .form-horizontal {
                width: auto;
            }
            .success-container {
                width: auto;
                padding-top: 30px;
                padding-bottom: 30px;
            }
            .heromask>.banner-text {
                font-size: 2.5em;
            }
            .tradein {
                font-size: 2.5em;
            }
            .whatsin {
                margin-left: auto !important;
            }
            .welcome {
                font-size: 32px !important;
            }
            .brands {
                left: auto !important;
                padding-left: 10% !important;
                font-size: 14px;
            }
            .tysuccess {
                margin-top: 10px !important;
            }
            #welcome-sell {
                margin-top: 60px !important;
            }
            #img-div {
                position: relative;
                width: 100vw !important;
                left: -30px;
            }
            #missing {
                margin-top: 30px;
            }
            .newstuff {
                margin-top: 48px;
            }
            .form-horizontal {
                top: -20px;
            }
            .whats-section .container {
                padding-left: 15px;
                padding-right: 15px;
            }
            .brands-container {
                padding-left: 30px;
            }
            .h6 {
                line-height: 0.80rem !important;
            }
            .mask {
                height: auto;
            }
            .form-horizontal .col-lg-12 {
                padding: 0 30px !important;
            }
            #ff-sell-form-x22 {
                padding: 0 15px !important;
            }
        }
        
        @media (max-width: 319px) {
            .brands-container {
                padding-left: 30px;
            }
            .whats-section .container {
                padding-left: 15px;
                padding-right: 15px;
            }
            .form-horizontal {
                width: auto;
            }
            .heromask>.banner-text {
                font-size: 2.5em;
            }
        }
        /*footer*/
         
        .footer {
            font-family: Polaris, sans-serif;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        
        .no-underline {
            text-decoration: none !important;
        }
        
        .pr20 {
            padding-right: 20px;
        }
        
        .color-white {
            color: #fff;
        }
        
        .footer h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: Polaris-Condensed-Bold, Polaris-Bold, sans-serif;
            font-weight: 400;
            letter-spacing: .2em;
            text-transform: uppercase;
            margin: 0;
            font-size: 0.80rem;
            color: #aaa;
        }
        
        .footer span {
            font-size: 13px;
        }
        
        a.primary {
            transition: opacity .15s;
        }
        
        a.primary:hover>.discover-app-text {
            opacity: .5;
            color: #fff !important;
            text-decoration: none;
        }
        
        .discover-icon {
            margin-top: 16px;
            padding-left: 10px;
            font-size: 1.8rem !important;
            vertical-align: middle;
            line-height: 1;
            text-transform: none;
        }
        
        .discover-icon:hover {
            opacity: 1 !important;
            color: #fff !important;
            text-decoration: none;
        }
        
        .discover-app-text {
            display: inline-block;
            padding-top: 5px;
            position: absolute;
        }
        
        .countryregion {
            display: inline-block;
            position: absolute;
        }
        
        .flag-icon {
            margin-top: 18px;
            padding-left: 4px;
            font-size: 1rem !important;
            vertical-align: middle;
            line-height: 1;
            text-transform: none;
            margin-right: 6px;
        }
        
        .social-icons>.inlineBlock>a>span {
            font-size: 18px;
            position: relative;
            height: 17px;
            top: 6px;
        }
        
        .social-icons>.inlineBlock>a {
            margin-right: 15px;
        }
        
        .inlineBlock {
            display: inline-block;
        }
        
        .color-medium-grey {
            color: #aaa !important;
        }
        
        .baseline {
            float: left;
            position: relative;
            padding-right: 1%;
        }
        
        .h6 {
            font-size: 1.1rem;
            line-height: 0.50rem;
        }
        
        .mt30 {
            margin-top: 30px;
        }
        
        .footer-disclaimer {
            font-size: 12px !important;
        }
        
        ul.list-regular li {
            margin-bottom: 6px;
        }
        
        ul.list-regular a:hover {
            color: #fff;
        }
        
        .pl10 {
            padding-left: 10px;
        }
        
        .pt10 {
            padding-top: 10px;
        }
        
        .mt30 {
            margin-top: 30px;
        }
        
        .footer ul {
            list-style: none;
            padding-left: 0px;
            font-size: 13px;
        }
        
        .ChangeCountry_Flag {
            margin: -6px 0;
        }
        
        .flags.flag-gb.f18:before {
            background-position: -1px -1726px;
        }
        
        .flags:before {
            border-radius: 30px;
            background-image: url('../img/flags/flags.png');
            content: "";
            float: left;
            box-shadow: 0 1px 0 rgba(32, 32, 32, .1);
        }
        
        .flags.f18:before {
            width: 18px;
            height: 18px;
        }
        
        .pb30 {
            padding-bottom: 30px;
        }
        
        .show-icon {
            float: right;
            right: 5px;
        }
        
        .pt60 {
            padding-top: 60px;
        }
        
        .pt120 {
            padding-top: 120px;
        }
        
        #country-region-2 .countryregion {
            padding-top: 2.5px !important;
        }
        
        @media (min-width: 768px) {
            .collapse .dont-collapse-sm {
                display: block;
                height: auto !important;
                visibility: visible;
            }
            .show-icon {
                display: none;
            }
        }
        
        @media (min-width: 1200px) {
            .footer .container {
                max-width: 96%;
            }

        }
        @media (max-width: 1136px) {
            ul.ff-header-help li:last-child a {
                display: none
            }
        }
        
        @media (max-width: 340px) {
            .container {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        
        @media (max-width: 386px) {
            .hd-sml {
                display: none !important;
            }
        }
        
        @media (min-width: 387px) {
            .hd-lrg {
                display: none !important;
            }
        }
        /*end footer*/
        /* form */
        
        #contact_form #ff-div-checkbox,
        #dimensions,
        button[type='submit'],
        textarea {
            opacity: 0.60
        }
        /*end form*/